
@import "style--root.css";
.cards{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    justify-items: center;
    gap: 1rem;

}

.card {

    padding: 20px;
    width: 90%;
    background-color: var(--background-color-card);
    display: inline-grid;
    grid-template-areas:
            "photo title"
            "photo price"
            "photo button-buy";

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    border-radius: var(--border--radius--card);

}

.card--img{
    grid-area: photo;
    object-fit: cover;
    background-color: white;
    width: 15rem;
    height: 15rem;
    border-radius: var(--border--radius--card);
}

.card--title{
    grid-area: title;
}
.card--price{
    grid-area: price;
}

.card--button--buy{
    font-size: 2rem;
    width: 70%;
    height: 70%;
    grid-area: button-buy;
    background: var(--background-color-ororange);
    border-radius: var(--border--radius);
}

@media (max-width: 1600px) {
    .cards{
        padding: 1rem;
        grid-template-columns: 1fr 1fr;
    }

    .card {
        font-size: 0.6rem;
        padding: 1rem;

    }
    .card--button--buy {
        font-size: 1rem;
    }
    .card--img{

        width: 15rem;
        height: 15rem;

    }
}


@media (max-width: 900px) {
    .cards{
        padding: 0.25rem;
        grid-template-columns: 1fr;
    }
    .card {
        font-size: 0.8rem;
        padding: 0.25rem;
        grid-template-columns: 0.6fr 1fr;
    }
    .card--button--buy {
        font-size: 1rem;
    }
    .card--img{

        width: 10rem;
        height: 10rem;

    }
}

